* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  color: #6b7280;
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  max-width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main {
  position: relative;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
}

.main .container>h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  color: #ffffff !important;
  border-width: 0px !important;
  border-radius: 100px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  background-color: #000000;
  padding-top: 15px !important;
  padding-right: 35px !important;
  padding-bottom: 15px !important;
  padding-left: 35px !important;
  display: inline-block;
  font-family: 'Tinos', Georgia, "Times New Roman", serif;
  line-height: 1.4em;
  cursor: pointer;
}

.btn:hover {
  background-color: #2b79ee;
}

.btn span {
  font-size: 15px !important;
  margin-left: 0.75rem !important;
}

.slick-prev,
.slick-next {
  background-color: #000 !important;
}

.slick-prev:before,
.slick-next:before {
  width: 25px !important;
  height: 25px !important;
  top: 15px !important;
  left: 15px !important;
}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}

.slick-prev,
.slick-next {
  opacity: 0 !important;
  transition: opacity 0.3s ease !important;
}

/* Show arrows when hovering over the slider */
.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  opacity: 1 !important;
}