.hidden-initally {
  display: none;
}

.form_html_wrap [type="date"],
.form_html_wrap [type="datetime-local"],
.form_html_wrap [type="datetime"],
.form_html_wrap [type="email"],
.form_html_wrap [type="month"],
.form_html_wrap [type="number"],
.form_html_wrap [type="password"],
.form_html_wrap [type="search"],
.form_html_wrap [type="tel"],
.form_html_wrap [type="text"],
.form_html_wrap [type="time"],
.form_html_wrap [type="url"],
.form_html_wrap [type="week"],
.form_html_wrap textarea,
.form_html_wrap select {
  background: #ffffff;
  border: 1px solid #393939;
  width: 100%;
  padding: 16px;
  color: #666666;
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px !important;
  font-size: 14px;
}

.form_html_wrap textarea {
  height: 240px;
}

.form_sec_wrap {
  margin-bottom: 30px;
  border: 1px solid gray !important;
  padding: 12px 30px !important;
  border-radius: 7px;
  overflow: hidden;
}

.form_sec_wrap br {
  display: none !important;
}

.form_sec_wrap h3 {
  background-color: #006699;
  color: #ffffff;
  background: #006699;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding: 7px 14px;
  margin: -15px -30px 15px;
}

.form_sec_wrap p {
  font-size: 12px;
  line-height: 1.3;
}

.form_sec_wrap label {
  font-size: 14px;
  font-weight: 700 !important;
  display: inline-block;
  margin: 0 0 10px;
}

.form_sec_wrap h4 {
  margin-bottom: 0;
  font-size: 16px;
}

.form_sec_wrap label {
  margin-bottom: 7px;
  display: inline-block;
}

.form_sec_wrap small {
  color: #9b9b9b;
  display: inline-block;
  margin: 5px 0 0;
}

.form_html_wrap input {
  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
}

.form_html_wrap select {
  cursor: pointer;
}

.form_dtl label {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 5px;
}

.form_dtl p {
  margin: 5px 0 15px;
}

.form_sec_wrap label {
  font-weight: 700 !important;
  font-size: 14px;
  margin: 0 0 10px;
  display: inline-block;
}

.form_sec_wrap .radio_btn_wrap .wpcf7-list-item {
  margin-left: 0 !important;
}

.radio_btn_wrap {
  position: relative;
  padding-top: 15px;
}

.radio_btn_wrap input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.radio_btn_wrap .wpcf7-list-item-label {
  position: relative;
  padding-left: 25px;
  margin-right: 30px;
  cursor: pointer;
}

.radio_btn_wrap .wpcf7-list-item-label::before {
  width: 16px;
  height: 16px;
  border: solid 1px #5d5d5d;
  background: transparent;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.radio_btn_wrap .wpcf7-list-item-label::after {
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  content: "";
  opacity: 0;
  visibility: hidden;
}

.radio_btn_wrap input:checked + .wpcf7-list-item-label::before {
  border-color: #2b79ee;
  background: #2b79ee;
}

.radio_btn_wrap input:checked + .wpcf7-list-item-label::after {
  opacity: 1;
  visibility: visible;
}

.col_row_wrap {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col_half {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px 30px;
}

.col_full {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.check_btn_wrap .wpcf7-list-item-label::before {
  border-radius: 0;
}

.check_btn_wrap input:checked + .wpcf7-list-item-label::after {
  border-radius: 0;
  display: none;
}

.check_btn_wrap input:checked + .wpcf7-list-item-label::before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.submitButton,
.next-step,
.back-step {
  color: #ffffff;
  border-width: 0px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #000000 !important;
  padding-top: 15px;
  padding-right: 55px;
  padding-bottom: 15px;
  padding-left: 55px;
  margin: 20px 0 0;
  cursor: pointer;
}

.submitButton:hover,
.submitButton:focus {
  background: #454545;
  color: #ffffff;
}
#mfcf7_zl_add_file {
  color: #ffffff !important;
  border-width: 0px !important;
  border-radius: 1px;
  font-size: 20px;
  font-weight: 700 !important;
  background-color: #e45025 !important;
  padding-top: 15px !important;
  padding-right: 55px !important;
  padding-bottom: 15px !important;
  padding-left: 55px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}

@media screen and (max-width: 767px) {
  .col_half {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
